@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	background-color: steelblue;
}

.logo{
	position: absolute;
	top:100px;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
	
	width: 100%;
	
	/*Texto*/
	text-align: center;
	color: #fff;
	font-size: 2em;
}

.logo h2{
	font-family: 'Indie Flower', cursive;
}

.logo h1{
	font-family: 'Lobster', cursive;
}

