*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg,#2E495D,#4E3857);
}

.content .title{
  color: white;
  line-height: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
}